<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.vet.rcp.ficha.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="com.vet.rcp.ficha.Perspective"
            id="com.vet.rcp.ficha.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.vet.rcp.ficha.pacienteView"
            id="com.vet.rcp.ficha.paciente"
            name="%view.name"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="com.vet.rcp.ficha.sangreView"
            id="com.vet.rcp.ficha.sangreView"
            name="Analisis"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.vet.rcp.ficha.planView"
            id="com.vet.rcp.ficha.planView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.vet.rcp.ficha.FotosView"
            id="com.vet.rcp.ficha.FotosView"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.vet.rcp.ficha.propietarioView"
            id="com.vet.rcp.ficha.propietarioView"
            name="%view.name.3"
            restorable="false">
      </view>
      <view
            allowMultiple="true"
            class="com.vet.rcp.ficha.casos"
            id="com.vet.rcp.ficha.casos"
            name="Historial"
            restorable="true">
         <description>
            %view.description
         </description>
      </view>
      <view
            class="com.vet.rcp.ficha.BuscarPacienteView"
            id="com.vet.rcp.ficha.BuscarPacienteView"
            name="Buscar"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.vet.rcp.ficha.openCreateParameters"
            id="com.vet.rcp.ficha.openCreateParameters"
            name="%command.name">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenSelectionDialog"
            id="com.vet.rcp.ficha.OpenSelectionDialog"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenNuevoPropietario"
            id="com.vet.rcp.ficha.OpenNuevoPropietario"
            name="%command.name.1">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.openNuevaRaza"
            id="com.vet.rcp.ficha.openNuevaRaza"
            name="%command.name.2">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.openNuevoPelaje"
            id="com.vet.rcp.ficha.openNuevoPelaje"
            name="%command.name.3">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.openNuevaEspecie"
            id="com.vet.rcp.ficha.openNuevaEspecie"
            name="%command.name.4">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.openNuevoPaciente"
            id="com.vet.rcp.ficha.openNuevoPaciente"
            name="%command.name.5">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.openNuevoPanel"
            id="com.vet.rcp.ficha.openNuevoPanel"
            name="%command.name.6">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.openSerie"
            id="com.vet.rcp.ficha.openSerie"
            name="%command.name.7">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenAsociarParametro"
            id="com.vet.rcp.ficha.OpenAsociarParametro"
            name="%command.name.8">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenPeso"
            id="com.vet.rcp.ficha.OpenPeso"
            name="%command.name.9">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenAvisos"
            id="com.vet.rcp.ficha.OpenAvisos"
            name="%command.name.10">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenPreviewSangre"
            id="com.vet.rcp.ficha.OpenPreviewSangre"
            name="%command.name.11">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenPreviewPlan"
            id="com.vet.rcp.ficha.OpenPreviewPlan"
            name="Previo Plan">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenDescripcionFoto"
            id="com.vet.rcp.ficha.OpenDescripcionFoto"
            name="Descripcion Foto">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenInternacion"
            id="com.vet.rcp.ficha.OpenInternacion"
            name="Internacion">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenCirugia"
            id="com.vet.rcp.ficha.OpenCirugia"
            name="Cirugias">
      </command>
      <command
            defaultHandler="com.vet.rcp.ficha.OpenNuevoPrincipio"
            id="com.vet.rcp.ficha.OpenNuevoPrincipio"
            name="Nuevo Principio">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.vet.rcp.ficha.application"
            name="DeployTest">
         <property
               name="appName"
               value="DeployTest">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
</plugin>
